.footer__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    transition: opacity 0.1s linear;
}


@media screen and (max-width: 650px) {
    .footer__link {
        font-size: 24px;
        font-weight: 1;
    }
}

.footer__link:hover {
    opacity: .8;
}