.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #FFFFFF;
    margin: 56px auto 32px;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        margin-top: 45px;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin-top: 48px;
    }
}

@media screen and (max-width: 650px) {
    .lead__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 16px;
    }
}