.place__website-link {
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    transition: opacity 0.1s linear;
}

.place__website-link:hover {
   opacity: .8;
}
