.cover {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 12px 0 92px;
}

@media screen and (max-width: 768px) {
    .cover {
        padding: 17px 0 88px;
    }
}

@media screen and (max-width: 650px) {
    .cover {
        padding-top: 16px;
        padding-bottom: 64px;
    }
}