.footer {
    margin: 0 auto;
    max-width: 92.5%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 90.5%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 93.5%;
    }
}

@media screen and (max-width: 650px) {
    .footer {
        flex-direction: column;
        gap: 48px;
        width: 90%;
    }
}